In [1]:
import pandas as pd
import numpy as np

In [5]:
path = "C:/Users/hitesh/Learning/HackerEarth/HDFC-Hiring-Challenge/results/"

In [15]:
file1 = "Baseline 84.35 (Median + 2109).csv"
file2 = "Baseline 84.31 (Median + 2165).csv"
file3 = "Baseline 84.31 (Median).csv"

In [7]:
data1 = pd.read_csv(path+file1)

In [8]:
data2 = pd.read_csv(path + file2)

In [16]:
data3 = pd.read_csv(path + file3)

In [17]:
a1 = pd.DataFrame({'name':data2.Col1, 'v1': data2.Col2, 'v2': data3.Col2})

In [22]:
a = pd.DataFrame({ 'name':data1.Col1, 'v1':data1.Col2 , 'v2': data2.Col2, 'v3': data3.Col2})

In [32]:
a1 = pd.DataFrame({'name': data1.Col1 , 'v1': (a.v1 + a.v2 + a.v3)/3})

In [19]:
a[a.v1 != a.v2]

           name  v1  v2
610    7NWI6YKE   1   0
833    7NYRCM1W   0   1
976    OI0BGS59   0   1
2135   O75R51Q5   1   0
2508   O1VDQ1ZW   1   0
8660   OIWBLMSD   0   1
15980  O1GRQ84G   1   0
16251  O1GHU55G   1   0
16571  O15BGOYG   1   0

In [35]:
a1['v1'] = a1.v1.apply(lambda x: 1 if x >=2/3 else 0)

In [38]:
a1.v1.value_counts()

0    20413
1       29
Name: v1, dtype: int64

In [39]:
data1.columns

Index(['Col1', 'Col2'], dtype='object')

In [43]:
a1.rename_axis({'name': 'Col1', 'v1':'Col2'}, inplace= True, axis= 1)

C:\Users\hitesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Using 'rename_axis' to alter labels is deprecated. Use '.rename' instead
  """Entry point for launching an IPython kernel.

In [45]:
a1.to_csv("a1.csv", index= False)